{% extends "base.html" %}
{% load sass_tags %}

{% block extrastyle %}
    {{ block.super }}
    <link href="{% sass_src 'articles/sass/create.scss' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="form__container">
        <form action="{% url 'articles_create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form__item">
                {{ form.category }}
            </div>
            <div class="form__item">
                {{ form.title }}
            </div>
            <div class="form__item">
                {{ form.content }}
            </div>

            <div class="form__error">{{ form.title.errors }}</div>

            <button type="submit" class="form__button">Create</button>
        </form>
    </div>
{% endblock %}