{% load sass_tags %}
<html lang="en">
    <head>
        {% block extrastyle %}
            <link href="{% sass_src 'default/sass/null.scss' %}" rel="stylesheet" />
            <link href="{% sass_src 'base/sass/base.scss' %}" rel="stylesheet" />
            <link href="{% sass_src 'base/sass/form.scss' %}" rel="stylesheet" />
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title %}
            <title>Home page</title>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="header__part">
                    <div class="header__container">
                        {% for menu_item in menu %}
                            <a href="{% url menu_item.url_name %}" class="{% if active_menu == menu_item.index %}active{% endif %}">{{ menu_item.title }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="header__part">
                    <div class="header__container">
                        {% for submenu_item in submenu %}
                            <a href="{% url submenu_item.url_name %}" class="{% if active_menu == submenu_item.index %}active{% endif %}">{{ submenu_item.title }}</a>
                        {% endfor %}
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'logout' %}" class="{% if active_menu == 'logout' %}active{% endif %}">Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}" class="{% if active_menu == 'login' %}active{% endif %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
                {% if page_obj.has_other_pages %}
                    <div class="pagination__container flex-center">
                        <div class="flex">
                            {% if page_obj.has_previous %}
                                <a class="link" href="?page={{ page_obj.previous_page_number }}"><</a>
                            {% endif %}
                            {% if page_obj.number > 3 %}
                                <div class="link">...</div>
                            {% endif %}
                            {% for page in page_obj.paginator.page_range %}
                                <a class="link {% if page_obj.number == page%}selected{% endif %}" href="?page={{ page }}">{{ page }}</a>
                            {% endfor %}
                            {% if page_obj.number < page_obj.paginator.num_pages|add:-2 %}
                                <div class="link">...</div>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <a class="link" href="?page={{ page_obj.next_page_number }}">></a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="footer">
                <div class="footer__container">
                    <div class="footer__text">
                        Footer 1
                    </div>
                    <div class="footer__text">
                        Footer 2
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>