{% load sass_tags %}
<html lang="en">
    <head>
        {% block extrastyle %}
            <link href="{% sass_src 'default/null.scss' %}" rel="stylesheet" />
            <link href="{% sass_src 'base/sass/base.scss' %}" rel="stylesheet" />
        {% endblock %}
        {% block title %}
            <title>Home page</title>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="header__part">
                    <div class="header__container">
                        <a href="/" class="{% if active_menu == 'home' %}active{% endif %}">Home</a>
                        <a href="/" class="{% if active_menu == 'home' %}active{% endif %}">Home</a>
                    </div>
                </div>
                <div class="header__part">
                    <div class="header__container">
                        <a href="/categories" class="{% if active_menu == 'categories' %}active{% endif %}">Categories</a>
                        <a href="/test" class="{% if active_menu == 'test' %}active{% endif %}">Test</a>
                        <a href="/test" class="{% if active_menu == 'test' %}active{% endif %}">Test</a>
                    </div>
                </div>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <div class="footer">
                <div class="footer__container">
                    <div class="footer__text">
                        Footer 1
                    </div>
                    <div class="footer__text">
                        Footer 2
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>