{% extends "base.html" %}
{% load sass_tags %}

{% block extrastyle %}
    {{ block.super }}
    <link href="{% sass_src 'test/sass/test.scss' %}" rel="stylesheet" />
{% endblock %}

{% block title %}
    <title>Register</title>
{% endblock %}

{% block content %}
    <div class="form__container">
        <form action="{% url 'login' %}" method="post" enctype="multipart/form-data" class="form__style">
            {% csrf_token %}

            <div class="form__error">
                {{ form.non_field_errors }}
            </div>

            {% for f in form %}
                <div class="form__item">
                    {{ f }}
                </div>
                <div class="form__error">
                    {{ f.errors }}
                </div>
            {% endfor %}

            <div class="flex_space_between">
                <button type="submit" class="form__button">Login</button>
                <a href="{% url 'register' %}" class="form__button">Sign up</a>
            </div>
        </form>
    </div>
{% endblock %}